<mat-drawer-container [autosize]="true" class="min-h-full max-w-7x1 mx-auto border-x dark">
    <mat-drawer class="p-6" opened mode="side">
        <app-filter (categoryChange)="onShowCategory($event)"></app-filter>
    </mat-drawer>
    <mat-drawer-content class="p-6">
        <app-product-header (numberOfColumsChanged)="onItemsColumsChange($event)"
         (sortProductsChanged)="onSortByPrice($event)"></app-product-header>
        <mat-grid-list gutterSize="16" [cols]="cols" [rowHeight]="rowHeight">
            @for (item of products; track item.id ) {
               <mat-grid-tile>
                   <app-product-box class="w-full" [product]="item" (add)="onAdd(item.id )"
                       [fullWidthMode]="cols === 1"></app-product-box>
               </mat-grid-tile>
            }
        </mat-grid-list>
    </mat-drawer-content>
</mat-drawer-container>